body{
    background-color: rgb(224, 225, 221);
    font-family: "Inter", sans-serif;
    margin: 0;
    padding: 0;
}

/* HEADER */
header{
    display: flex;
    justify-content: space-between;
    padding: 30px;
}

.logoheader{
    width: 139px;
    height: 86px;
}

.menu{
    display: flex;
    justify-content: space-between;
}

ul{
    display: flex;
    align-items: center;
    list-style: none;
}

li{
    display: inline-block;
    margin-right: 40px;
}

.selecmenu{
    color: black;
    text-decoration: none;
    font-weight: 600;
    padding: 5px;
    font-size: 32px;
    border-radius: 10px;
    transition: 0.3s;
}

.selecmenu:hover{
    background-color: rgb(195, 196, 191);
    border-radius: 10px;
    padding: 5px;
}

.user{
    display: flex;
    align-items: center;
    position: relative;
    float: right;
}

.user .icons{
    display: flex;
    margin-left: 15px;
    padding: 5px;
    border-radius: 10px;
    transition: 0.3s;
}

.user .icons:hover{
    background-color: rgb(195, 196, 191);
    transition: 0.3s;
}
/* HEADER */

.txtoverimg{
    margin-top: 50px;
    margin-bottom: 50px;
    position: relative;
    text-align: center;
}

.eduvaz{
    width: 337px;
    height: 185px;
}

.txtedu{
    font-size: 32px;
    font-weight: bold;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -130%);
}

.container {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.carrossel{
    overflow: scroll;
    width: 100%;
    margin: 5%; 
}
.sla{
    display: flex;
}
.box{
    margin: 10px;
    background-color: white;
    padding: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
::-webkit-scrollbar{
    background-color: #e0e1dd;
    width: 10px;
}
::-webkit-scrollbar-thumb{
    background-color: rgb(27, 56, 87);
    border-radius: 20px;
}
.imgbox{
    width: 457px;
    height: 266px;
}

.txtbox{
    font-size: 36px;
    font-weight: bold;
}

.avaliavermais{
    border:2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    width: 222px;
    height: 75px;
    font-size: 36px;
    font-weight: bold;
    text-decoration: none;
    color: rgb(65, 90, 119);
}
.avaliavermais:hover{
    color: rgb(199, 200, 196);
    background-color:rgb(13, 27, 42);
    border: solid 2px rgb(13, 27, 42);
    transition: 0.3s;
}
.carrossel2{
    overflow: scroll;
    width: 100%;
    margin: 5%;
}
.sla2{
    display: flex;
}
.container2{
    display: flex;
    flex-direction: row;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-between;
}

.box2{
    margin: 10px;
    background-color: white;
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.imgbox2{
    width: 250px;
    height: 250px;
}

.txtbox2{
    font-size: 36px;
    font-weight: bold;
}

.container3{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}

.txtcate{
    font-size: 32px;
    font-weight: bold;
}

.partes{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.cima{
    margin-bottom: 20px;
}

.baixo{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.direita{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

footer{
    background-color: rgb(13, 27, 42);
    display: flex;
    justify-content: space-between;
    padding: 50px;
}

.ajuda{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.empresa{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.newsletter{
    display: flex;
    flex-direction: column;
}

.ftitle{
    font-size: 32px;
    font-weight: bold;
    color: rgb(121, 121, 121);
    padding: 10px;
}

.flinks{
    padding: 0;
    font-size: 32px;
    color: white;
    text-decoration: none;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 50px;
}

.newstext{
    color: white;
    font-size: 25px;
    padding: 0;
    margin-left: 10px;
    margin-right: 10px;
}

.inputemail{
    padding: 0;
    margin-left: 10px;
    margin-right: 10px;
    background-color: rgb(13, 27, 42);
    color: white;
    font-size: 32px;
}

.inputemail::placeholder{
    color: white;
}

.paisreg{
    padding: 0;
    color: rgb(121, 121, 121);
    font-size: 32px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 0;
    font-weight: bold;
}

.pais{
    color: white;
    padding: 0;
    font-size: 32px;
    margin-top: 0;
    margin-left: 10px;
    margin-right: 10px;
}
/* FOOTER */